@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&display=swap');

@font-face {
    font-family: kyivType;
    src: url(/assets/KyivType_Sans_Regular-.otf);
}

:root {
    --beige: #E4D9CB;
    --brown: #552910;
    --lightGreen: #95e18f;
    --medGreen: #91C190;
    --neutralGrey: #333;
  }

* {
    margin: 0;
    padding: 0;
    color: var(--brown);
    font-family: 'Bricolage Grotesque', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    font-size: 18px;
    background-color: var(--beige);  
    overflow: hidden;
}

#screen {
    margin: 50px;
    height: 87vh;
    display: grid;
    grid-template: 1fr/ 3fr 2fr;
    gap: 50px;
}

.graindient{
    filter: url(#grainy);
    
}

.graindient-large {
    position: absolute;
    width: 1300px;
}

.graindient-small {
    position: absolute;
    width: 700px;
    top: -100px;
    right:0px;
}

section {
    padding: 50px;
}

#card {
    background: #ECE2D7;
    box-shadow: 0px 4px 10px 0px rgba(85, 132, 121, 0.47);  
}

#card-content {
    position: relative;
}

#about-me {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    line-height: 1.5em;
}

h1 {
    font-family: kyivType;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 7rem;
}

h4 {
    margin: 40px 0 0 20px;
    font-size: 1.2em;
}

ul {
    margin: 80px 50px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

li {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    filter: brightness(150%) drop-shadow(0 0 1rem var(--lightGreen));
}