@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    background-color: floralwhite;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

header {
    text-align: center;
    margin: 300px auto;
}

h1 {
    color: #804928;
    font-size: 3.5rem;
}

h2 {
    color: #a84608;
    font-size: 2.25rem;
    padding: 0.5rem 1rem;
}

h3 {
    color: #c78840;
    font-size: 1.75rem;
    padding: 0.5rem;
    margin: 3rem 0 1rem 0;
}

strong{
    color: #804928;
}

a{
    text-decoration: none;
    text-align: center;
}

nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

nav a{
    color: #31180a;
    padding: 10px 30px;
    border-radius: 5px;
}

li {
    display: inline-block;
}

nav li+li {
    border-left: 2px solid #804928;
}

#mode {
    position: fixed;
    top: 10px;
    right: 10px;
}

#headshot {
    max-width: 250px;
    width: 25%;
    border-radius: 47% / 47%;
    box-shadow: 0 0 0 4px #a36633;
    margin-left: 2.5rem;
}

section {
    margin: 5rem auto;
    padding: 0 5rem;
    max-width: 60rem;
}

.information {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}

#education li {
    display: block;
    padding-bottom: 20px;
}

li p {
    color: #aca199;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
}

em {
    font-family: 'Advent Pro', sans-serif;
    font-weight: bolder;
    color: #804928;
    letter-spacing: 2px;
}

#skills-list {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr 1fr; 
    color: #612705;
    font-size: 4rem;
}

.skill-name {
    text-align: center;
    margin-left: 10px;
    font-size: 0; 
    transition: font-size 300ms linear 100ms;
}


i:hover + .skill-name{
    font-size: 1rem;
    
}

#skills-list div {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

#projects img{
    max-width: 300px;
    width: 35%;
    margin-left: 2rem;
}

.information div {
    margin-top: 2rem;
}


.information a{
    display: block;
    justify-items: center;
    width: 100px;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0.4rem 5rem;
    border-radius: 10px;
    font-size: 14px;
    color: #aca199;
    border: 2px solid #d1c5bc;
}

.information a:hover {
    background-color: #aca19936;
}

#art-works {
    display: flex;
    justify-content: space-between;
}

#art-works img {
    width: 32%;
    object-fit: cover;
    margin: 0;
}
