@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Courier+Prime&family=Space+Mono&display=swap');

@font-face {
    font-family: kyivType;
    src: url(/assets/KyivType_Sans_Bold-.otf);
}

:root {
    --beige: #E4D9CB;
    --brown: #552910;
    --lightGreen: #95e18f;
}

* {
    margin: 0;
    padding: 0;
    color: var(--brown);
    font-family: 'Bricolage Grotesque', sans-serif;
    

}

body {
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    background-color: var(--beige);  
    overflow: hidden;
}

#screen {
    margin: 50px;
    height: 87vh;
    display: grid;
    grid-template: 1fr/ 3fr 2fr;
    gap: 50px;
}

.graindient{
    filter: url(#grainy);
}

.graindient-large {
    position: absolute;
    width: 1300px;
}

.graindient-small {
    position: absolute;
    width: 700px;
    top: -100px;
    right:0px;
}

section {
    padding: 50px;
}

#card {
    background: #ECE2D7;
    box-shadow: 0px 4px 10px 0px rgba(85, 132, 121, 0.47);  
}

#card-content {
    position: relative;
}

#about-me {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    line-height: 1.5em;
}

h1 {
    font-family: kyivType;
    letter-spacing: 0.1em;
    line-height: 9.5rem;
    font-size: 9rem;
}

h4 {
    margin: 40px 0 0 20px;
    font-size: 1.2em;
    cursor: pointer;
}

#myEmail {
    font-family: 'Advent Pro', sans-serif;
}

ul {
    margin: 70px 50px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

li {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}


li img {
    width: 3.5em;
}

a:hover, h4:hover{
    filter: brightness(150%) drop-shadow(0 0 1rem var(--lightGreen));
}

.cursor{
    position: absolute;
    background: var(--brown);
    width: 20px;
    height: 20px;
    opacity: 0%;
    border-radius: 50%;
    z-index: 100;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
}

.cursor.active {
    opacity: 50%;
    background-color: var(--brown);
    transform: scale(2.5);
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
}

.svg-prac {
    width: 50px;
    position: absolute;
    pointer-events: none;
    z-index: 101;
    animation: rotation 20s infinite linear;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) scale, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    opacity: 0%;
}

.svg-prac.active {
    opacity: 100%;
    transition: 1s cubic-bezier(0.75, -1.27, 0.3, 2.33) scale, 1s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    scale: 2;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

text {
    font-size: 4.5em;
    font-weight: bold;
    letter-spacing: 0.25em;
    fill: var(--brown);
    text-shadow: 1px 1px 0 var(--beige),
    -1px 1px 0 var(--beige),
    1px -1px 0 var(--beige),
    -1px -1px 0 var(--beige);
}


.qr-code {
    all: unset;
    width: 0px;
    visibility: hidden;
}

@media only screen and (max-width: 1300px) {
    h1 {
        line-height: 8rem;
        font-size: 8rem;
    }
    #about-me { font-size: 1.1em;}
    .graindient-large { top: 350px}
  }

@media only screen and (max-width: 1050px) {
    body{
        overflow-y: scroll;}
    h1 {
        line-height: 7rem;
        font-size: 7em;
    }
    #about-me { font-size: 1.3em;}
    #screen {
        grid-template: 3fr 2fr / 1fr;
        gap: 10px;
    }
    .graindient-large { top: 400px}

    svg{
        width: 0px;
    }
  }

  @media only screen and (max-width: 750px) {
    body{
        overflow-y: scroll;}
    h1 {
        line-height: 5.5rem;
        font-size: 5.5em;
    }

    li img {
        width: 3em;
    }

  }

@media only screen and (max-width: 500px) {
    *{ font-size: 14px;}
    body{
        margin: 0;
        height: fit-content;
    }

    h1 {
        font-size: 4.5em;
        letter-spacing: 0.05em;
    }

    .website-details{
        text-align: center;
    }
    section{ padding: 25px}

    #screen {
        height: fit-content;
        margin: 30px;
        grid-template: 1fr 1fr 0.25fr/ 1fr;
    }

    .qr-code{
        margin: auto;
        visibility: visible;
        width: 150px;
    }

    .graindient {
        filter: saturate(0.75);
    }

    .graindient-small { 
        right: unset;
        width: 500px;
    }
    .graindient-large { 
        top: 350px;
        left: -100px;
        width: 700px;
    }

    ul {margin: 60px 10px;}

    li img {
        width: 40px;
    }
  }