#home-intro {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.intro-sparkle {
		position: relative;
		width: 5em;
		height: 6em;
		margin-top: 1em;
		right: 30px;
		display: flex;
		justify-content: center;
		align-items: center;

		.sparkle {
			width: 0.1em;
			height: 0.1em;
		}
	}
}

#intro-words {
	position: relative;
	z-index: 5;
	font-family: "fancyFont";
	margin-left: 40px;

	* {
		font-family: inherit;
	}

	.intro-name {
		font-size: 10em;
		height: 200px;
		line-height: 1.5;
	}
}

.char {
	transform: translateY(100%);
	transition: transform 0.5s;
}
