h2, h3 {
	font-family: "fancyFont";
}

/**************** header ****************/
.header-paragraph {
	display: flex;
	align-items: center;
	gap: 5em;

	.home-header {
		transition: transform 0.5s;
		display: flex;
		flex-direction: column;
		margin: 4em 1em 2em 1em;

		h2 {
			margin: 0;
		}

		.header-title {
			margin-left: 1em;
			font-size: 5.5em;
			line-height: 1.4;
		}

		.header-number {
			font-family: unset;
		}
	}

	.header-p {
		font-size: 1em;
		text-transform: uppercase;
	}
}
/**************** home about ****************/

#home-about {
	background-color: var(--surface-blur);
    backdrop-filter:blur(50px);
	padding-bottom: 5em
}

.space {
	height: 100px;
	margin: 20em;
}

.home-section {
	margin: 2em 0;
	padding: 0 3em;
}

// skills
.devicon-figma-outline{
	display: inline-flex;
}

.devicon-ashicon::before {
	content: "";
	display: inline-block;
	width: 1em;  /* Scale with font-size */
	height: 1em; /* Scale with font-size */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
  }

.figma-outline::before {
	background-image: url('../../assets/figma.svg');
}  

.procreate-filled::before {
	background-image: url('../../assets/procreate.svg');
}  

.skills {
	display: flex;
	justify-content: space-evenly;
	
}

.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	.skill-title {
		font-size: 1.75em;
	}

	.skill-icons{
		display: flex !important;
		justify-content: center;
		align-items: center;
		font-size: 3em;
		gap: 0.5em;

		a {
			text-decoration: none;
			color: inherit;

			i {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}







