.project {
	align-items: flex-start;
	display: flex;
	margin-bottom: 3em;
	transform: translateY(20%);
	transition: transform 0.5s;

	.project-glass {
		padding: 3em 1em;
		background-color: var(--surface-blur);
		backdrop-filter: blur(50px);

		.project-image {
			object-fit: cover;
			width: calc(100vw / 2.3);
			height: auto;
		}
	}

	.project-info {
		margin: 3em 0em 3em 5em;
		position: sticky;
		width: 100%;
		top: calc(100vh / 2.5);

		.project-title {
			overflow-wrap: break-word;
			font-size: 5em;
			font-weight: 700;
		}

		.project-tag {
			display: inline-flex;
			align-items: center;
			border: 2px solid var(--text-primary);
			margin: 0.5em;
			padding: 0.25em 0.75em;
			border-radius: 30px;

			span {
				padding-top: 0.2em;
			}
		}

		.arrow {
			cursor: pointer;

			span {
				margin-right: 0.4em;
			}

			img {
				width: 1em;
				height: 0.9em;
				rotate: -40deg;
			}
		}
	}
}

.project-skills {
	display: flex !important;
	flex-wrap: wrap;
	align-items: center;
	font-size: 2.5em;

	a {
		margin-top: 0.5em;
		margin-left: 0.5em;
		text-decoration: none;
		color: inherit;

		i {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@media (max-width: 1024px) {
	.project {
		flex-direction: column;
		align-items: center;
		margin-bottom: 3em;

		.project-glass {
			padding: 1.5em 1.5em;
			background-color: var(--surface-blur);
			backdrop-filter: blur(50px);

			.project-image {
				object-fit: cover;
				width: calc(100vw / 1.3);
				height: auto;
			}
		}
		.project-info {
			margin: 0em 0em 3em 0em;
			position: relative;
			top: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}