/**************** header ****************/
.header-paragraph {
	display: flex;
	align-items: center;
	gap: 5em;

	.home-header {
		transition: transform 0.5s;
		display: flex;
		flex-direction: column;
		margin: 4em 1em 2em 1em;

		h2 {
			margin: 0;
		}

		.header-number {
		}

		.header-title {
			margin-left: 1em;
			font-size: 5.5em;
			line-height: 1.4;
			font-family: "fancyFont";
		}
	}

	.header-p {
		font-size: 1em;
		text-transform: uppercase;
	}
}
/**************** home about ****************/

#home-about {
	background-color: var(--surface-blur);
    backdrop-filter:blur(50px);
}

.space {
	height: 100px;
	margin: 20em;
}

.home-section {
	margin: 2em 0;
	padding: 0 3em;
}

.column-2 {
	display: grid;
	padding: 0 10em;
	gap: 2em;
	grid-template-columns: 1.5fr 1fr;
	color: var(--med-gray);

	.title {
		font-size: 1.75em;
		margin-left: 2.5em;
		margin-bottom: 0.25em;
	}

	.normal-text {
		font-size: 1.2em;
	}

	.about-skills {
		margin-top: 2em;

		li {
			text-transform: uppercase;
			font-size: 1.75em;
			font-weight: 600;
			list-style-type: none;
			padding: unset;

			div {
				color: var(--med-gray);
			}
		}
	}
}
