h2 {
	text-transform: uppercase;
}

/**************** header ****************/

.home-header {
	transition: transform 0.5s;
	display: flex;
	margin: 5em 1em 2em 1em;
	gap: 5em;

	> h2 {
		margin: 0;
		line-height: 1em;
		font-size: 3.5em;
		text-transform: uppercase;
		font-weight: 600;
		color: var(--med-brown);
	}
}

/**************** home about ****************/

#home-about {
	padding: 0 5em;
}

.about-p {
	font-size: 2.25em;
	text-transform: uppercase;
	font-weight: 600;
}

.space {
	height: 100px;
	margin: 20em;
}

.home-section {
	margin: 2em 3em;
}

.column-2 {
	display: grid;
	padding: 0 10em;
	gap: 2em;
	grid-template-columns: 1.5fr 1fr;
	color: var(--med-gray);

	.title {
		font-size: 1.75em;
		margin-left: 2.5em;
		margin-bottom: 0.25em;
	}

	.normal-text {
		font-size: 1.2em;
	}

	.about-skills {
		margin-top: 2em;

		li {
			text-transform: uppercase;
			font-size: 1.75em;
			font-weight: 600;
			list-style-type: none;
			padding: unset;

			div {
				color: var(--med-gray);
			}
		}
	}
}
