/**************** intro ****************/
#intro {
    height: calc(100vh - 5em);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-name {
    font-size: 9em;
    font-weight: 1000;
    line-height: 1em;
}

#intro-role {
    font-size: 1.5em;
}

#intro > div{
    position: relative;
    margin: 0 25em 0 0;
}

#intro-words {
    position: relative;
    z-index: 5;
}

.intro-circle {
    position: absolute;
    top: -8.75em;
    right: -27em;
    
    width: 600px;
    height: 600px;
    height: auto;
}

.circle {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 600px;
    height: 600px;
    background: var(--light-beige);
    border-radius: 50%; 
}

.intro-circle img {
    z-index: 4;
    position: absolute;
    height: 600px;
    object-fit: fill;
    filter: hue-rotate(355deg) ;
}

.char {
    color: var(--med-brown);
    transform: translateY(150px);
    transition: transform .5s;
}

#intro-role .word {
    transform: translateY(60px);
    transition: transform .5s;
}


/**************** header ****************/

.home-header {
    transition: transform .5s;
    display: flex;
    margin: 2em 4em;
    gap: 5em;
}

.home-header > h2 {
    margin: 0;
    line-height: 1em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--med-brown);
}

/**************** home projects ****************/

.space {
    height: 100px;
    margin: 20em;
}