#Nav {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    line-height: 0.5;
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e0d897;
    backdrop-filter: blur(10px);
    
}

.nav-link > a {
    font-size: 1.25em;
    text-decoration: none;
}

.nav-link > a:visited {
    color: var(--dark-brown);
}

.nav-link{
    margin: 1em 1.5em;
    position: relative;
}

.underline {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: calc(2px);
    background-color: var(--dark-brown);
}