.project {
    align-items: flex-start;
    display: flex;
    margin-bottom: 3em;
}

.project-title {
    margin: 1em 0.5em;
    position: sticky;
    text-align: right;
    top: calc(100vh/3);

    font-size: 5em;
    font-weight: 700;
}

.project-image {
    width: calc(100vw/2.3);
    height: calc(100vw/2);
}