@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500;700;900&display=swap');

:root {
	--light-beige: #eee8e4;
	--beige: #e7e0d8;
	--dark-brown: #3D1A06;
	--med-brown: #602E12;
}

* {
	font-family: 'Kufam', sans-serif;
	color: var(--dark-brown);
}

body {
	margin: 0;
	margin-top: 3.75em;
	background-color: var(--beige);
	
}

/* width */
::-webkit-scrollbar {
	width: 1.2em;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--beige);
	border-radius: 100vw;
	margin-block: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--med-brown);
	border: .3em solid var(--beige);
	border-radius: 100vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--dark-brown);
}

.clipy {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.upsie {
    transform: translateY(4em);
    transition: transform .5s;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}